@font-face {
    font-family: 'Source Sans Pro';
    src: url('../fonts/SourceSansPro-Regular.ttf');
}

@font-face {
    font-family: 'Raleway';
    src: url('../fonts/Raleway-Regular.ttf');
}

@font-face {
    font-family: 'Open Sans';
    src: url('../fonts/OpenSans-Regular.ttf');
}

* {
    font-family: 'Open Sans';
}

.content {
    background-color: rgba(255, 255, 255, .8);
    font-size: 2rem;
    margin: 0;
}

.content * {
    margin-top: 0;
}

.parallax {
    /* The image used */
    background-image: url('../images/elephant-photo.png');
    /* Set a specific height */
    height: 600px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}