@font-face {
  font-family: "Source Sans Pro";
  src: url("../fonts/SourceSansPro-Regular.ttf");
}

@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-Regular.ttf");
}
body,
html {
  height: 100%;
}
* {
  font-family: "Open Sans";
}

.elephant-bg {
  background-image: url("../images/forest-elephant-photo.png");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.logo-tile {
  max-height: 9rem;
}

.content {
  /* background-color: #8ad2fd88; */
  background-color: #00000055;
  padding: 1rem;
}

.about-banner {
  width: 100%;
  background-image: url("../images/members-banner.png");
  height: 200px;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border: 2px black;
  border-style: solid none;
}

.inline {
  display: inline-block;
  justify-content: left;
  padding: 10px;
}

.inlinetext {
  display: inline-block;
  vertical-align: top;
  justify-content: left;
  padding: 10px;
  width: 550px;
}
